# dependencies
/node_modules

# build
/build

# environmental vars
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.git
.gitignore
.gitattribute
.github
docker-compose-debug.yml